.tooltiptext{
    width: 70px;
  /* background-color: rgb(8, 194, 201); */
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 18px;
  bottom: -100px;
  /* left: 90%; */
  margin-left: -20px;
}

.slider-zero{
    display: none;
}