.llocation-title{
    color: darkgrey;
}
.location-button{
    background-color: #FFA800;
    color: white;
    border: none;
    border-radius: .5rem;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 17px 65px;
    text-transform: uppercase;
    width: 222px;
    display: flex;
    align-self: flex-end;
    margin-top: 50px;
}
.search-butn {
    background: #ffa800;
    border: none;
    border-radius: 5px;
    color: #292929;
    cursor: pointer;
    font-family: Roboto-bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    height: 60px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    width: 325px;
}