.footer{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    color: white;
    background: black;
    height: 75vh;
    justify-content: space-between;
}
.footer__title{
  font-size: 2rem;
}
.footer__top{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 4;
    padding: 22px;
}
.footer__bottom{
    flex-grow: 1;
    padding: 20px 255px;
        display: flex;
        box-sizing: border-box;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #e5e5e5;
}
.footer__contacts{
    flex-grow: 1;
    margin-left: 10%;
    align-self: center;
}
.footer__subscribers{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
    flex-grow: 1;
    margin: 15px 0;
    align-self: start;
}
.footer__subscriber{
  flex-grow: 1;
    margin-left: 10%;
    align-self: center;
}
.socials__list{
  margin: 20px 0;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* margin-left: -10px; */
}
.socials__item{
    margin-left: 1px;
}
.footer__socials{
  margin: 15px 0;
    width: 50%;
}

.footer__items {
    list-style: none;
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__contact{
    color: #E5E5E5;
    margin-bottom: 10px;
}
.footer-contact__info{
    margin-left: 15px;
    color: #E5E5E5;
}
.subscribe__title{
  margin: 10px 0;
}
.subscribe__input {
   margin-right: 30px;
   padding: 10px 20px;
    width: 60%;
    border-radius: 3px;
    background: white;
    font-size: 24px;
}
::placeholder {
    color: rgb(206, 199, 199);
  }
  .subscribe__submit{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid grey;
  }
    

  .footer__btn{
    background-color: transparent;
    border: none;
  }
  .footer__bottom_logo{
    font-size: 36px;
  }
  /* .footer__btn:hover .footer-btn_img{
    color: #FFA800;
  } */
  /* .footer-btn__img:hover stroke{
    color: #FFA800;
  } */
  /* .footer-btn_img:hover circle{
    color: #FFA800;
  } */
  .footer__btn:hover circle{
    stroke: #FFA800;
  }
  .footer-btn__img path:hover{
    stroke: #FFA800;
  }

  .footer__form{
    margin: 25px 0;
  }